    .AI-driven {
        width: 1200px;
        height: 558px;
        margin: auto;
        border: 1px solid rgba(255, 255, 255, 0.15);
        background: #7b48d4;
        background: radial-gradient(circle, rgba(123, 72, 212, 1) 0%, rgba(10, 10, 10, 1) 72%);
        position: relative;
       
        
    &_second {
        width: 1093px;
        height: 473px;
        background-color: inherit;
        border-radius: 10px;
        border: 1px solid #1E1E1E;
        position: absolute;
        top: 45px;
        left: 50px;
    }

    &_title {
        width: 422px;
        height: 132px;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 500;
        font-size: 56px;
        line-height: 65px;
        color: #FFFFFF;
        margin: 100px auto;
    }

    // &_sml_div {
    //     width: 401px;
    //     height: 49px;
    // }

    &_input {
        width: 401px;
        height: 49px;
        background-color: inherit;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 26px;
        color: rgba(255, 255, 255, 0.5);
        border-radius: 8px;
        position: absolute;
        top: 250px;
        left: 320px;
    }

    &_btn {
        width: 120px;
        height: 49px;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 500;
        font-size: 15px;
        line-height: 31px;
        text-align: center;
        color: #000000;  
        border-radius: 8px;
        position: absolute;
        top: 250px;
        left: 610px;
    }

    &_btn:hover {
        background-color: #000000;
        color: cyan;
        transition: all 1s ease;
    } 

    &_text {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 8px;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 26px;
        color: rgba(255, 255, 255, 0.5);
        position: absolute;
        left: 360px;
        top: 320px;
     }
}  