    .contact {
        width: 1700px;
        height: 800px;
        background-color: #E5E5E5;
        margin: auto;
        padding-top: 100px;
        
      
    &_title {
        width: 640px;
        height: 84px;
        font-family: 'Gilroy';
        font-style: normal;
        font-weight: 400;
        font-size: 84px;
        line-height: 100%;
        color: #142251;
        margin: 30px;
    }

    &_icon_div {
        width: 54px;
        height: 54px;
        border-radius: 50%;
        border: 1px solid #F2F3F8;
    }

    &_icon_div_icon {
        font-size: 25px;
    }

    &_inputs {
        display: flex;
        flex-wrap: wrap;
        gap: 30px;
    }

    &_input {
        display: flex;
        gap: 20px;
        width: 504px;
        height: 48px;
    }

    &_input_text {
        font-family: 'Gilroy';
        font-style: normal;
        font-weight: 400;
        font-size: 34px;
        line-height: 100%;
        color: #142251;
    }

    &_main_input {
        width: 504px;
        height: ;
    }

    // &_text {
       
    // }

    
}

   