@import "./general";
@import "./navbar";
@import "./detective_intro";
@import "./whoweare";
@import "./services";
@import "./works_stages";
@import "./clients";
@import "./contact";
@import "./footer";