.detective_intro {
    width: 1700px;
    height: 700px;
    padding: 50px;
    margin: auto;
    background-color: #E5E5E5;
    display: flex;
    
    
    &_title {
        font-family: 'Gilroy';
        font-style: normal;
        font-weight: 400;
        font-size: 75px;
        line-height: 85%;
        color: #142251;
        margin-top: 10px;
    }

    &_title span {
        font-family: 'Gilroy';
        font-style: normal;
        font-weight: 400;
        font-size: 75px;
        line-height: 85%;
        color: #AFB4C4;
    }

    &_text {
        font-family: 'Gilroy';
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        line-height: 100%;
        color: #989EB1;
        margin-top: 25px;
    }

    &_sml_div {
        display: flex;
        gap: 25px;
        width: 350px;
        height: 70px;
        background-color: #E4E7F1;
        border-radius: 20px;
        margin-top: 50px;
        padding: 20px 60px;
    }

    &_sml_div:hover {
        background-color: #000;
        transition: all 1s ease;
    }

    &_sml_div_text {
        font-family: 'Gilroy';
        font-style: normal;
        font-weight: 600;
        font-size: 20px;
        line-height: 100%;
        color: #213887;
        text-align: start;
        padding-top: 5px;
    }

    &_sml_div_icon_img {
        width: 25px;
        height: 25px;
        margin-top: 3px;
    }

    &_arrow_down_div {
        width: 45px;
        height: 45px;
        border-radius: 50%;
        background-color: #F2F3F8;
        position: relative;
        top: 200px;
    }

    &_arrow_down_div:hover {
        background-color: red;
    }

    &_arrow_down_div:active {
        background-color: green;
    }

    &_arrow_down_icon {
        width: 30px;
        height: 30px;
        position: absolute;
        top: 16px;
        left: 14px;
    }

    &_right_img {
        width: 700px;
        height: 550px;
        margin: 0px 20px;
    }

    &_right_sml_div {
        display: flex;
        gap: 12px;
        width: 400px;
        height: 54px;
        border-radius: 20px;
        background-color: #F2F3F8;
        position: relative;
        top: 20px;
        left: 280px;
    }

    &_right_sml_div:hover {
        background-color: #000;
    }

    &_right_sml_div_img {
        width: 24px;
        height: 24px;
        margin: 15px 20px;
    }

    &_right_sml_div_text {
        font-family: 'Gilroy';
        font-style: normal;
        font-weight: 700;
        font-size: 20px;
        line-height: 100%;
        text-transform: lowercase;
        color: #142251;
        margin: 14px -10px;
    }

    &_right_line {
        width: 1px;
        height: 32px;
        border: 1px solid #E4E7F1;
        margin: 10px 5px;
    }

    &_right_gmail {
        font-family: 'Gilroy';
        font-style: normal;
        font-weight: 700;
        font-size: 20px;
        line-height: 100%;
        text-decoration-line: underline;
        text-transform: lowercase;
        color: #213887;
        margin-top: 14px;
    }
}