* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}
li {
  list-style: none;
}

.container {
    width: 1420px;
    background-color: #E5E5E5;
    margin: auto;
}