.navbar {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: auto;
    padding: 50px;
    background-color: #000;
    width: 1200px;
    height: 68px;
    position: relative;

    &__logo {
        width: 38px;
        height: 38px;
        // margin-left: 50px;
        position: absolute;
        left: 180px;
    }

    &_list_div {
        width: 550px;
        height: 42px;
        border: 1px solid rgba(255, 255, 255, 0.15);
        border-radius: 60px;
        position: absolute;
        top: 30px;
        left: 280px;
    }

    &__list {
        display: flex;
        justify-content: center;
        align-items: center; 
        gap: 40px;      
        margin-left: 100px;
        padding-left: 100px;
        position: absolute;
        top: 10px;
        right: 20px;
    }

    &__link  {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 13px;    
        letter-spacing: 0.9px;
        color: rgba(255, 255, 255, 0.6);
        transition: all 0.5s ease;
    }

    &__link:hover {
        color: #8C45FF; 
    }

    &__link:active {
        color: rgba(199, 217, 217, 0.579); 
    }

    &__btn {
        width: 109px;
        height: 30px;
        background: rgba(140, 69, 255, 0.4);
        border: 1px solid rgba(255, 255, 255, 0.15);
        box-shadow: inset 0px 0px 6px 3px rgba(255, 255, 255, 0.25);
        border-radius: 8px;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 26px;
        color: #fff;
        margin-right: 100px;
        position: absolute;
        right: 15px;
    }

    &__btn:hover {
        background-color: #000;
        color: cyan;
        transition: all 0.5s ease;
    }
}

// background: rgba(140, 69, 255, 0.4);
// border: 1px solid rgba(255, 255, 255, 0.15);
// box-shadow: inset 0px 0px 6px 3px rgba(255, 255, 255, 0.25);