.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    padding: 50px;
    background-color: #E5E5E5;
    height: 30px;

    &__logo {
        width: 243px;
        height: 33px;
    }

    &__list {
        display: flex;
        justify-content: center;
        align-items: center; 
        gap: 30px;      
        padding: 0px 50px;
    }

    &__link  {
        font-family: 'Gilroy';
        font-style: normal;
        font-weight: 600;
        font-size: 20px;
        line-height: 100%;
        color: #142251;
        transition: all 1s ease;
    }

    &__link:hover {
        color: red; 
    }

    &__link:active {
        color: orange; 
    }

    &_burger {
        display: none;
        flex-direction: column;
        gap: 4px;
    }

    &_burger_item {
        width: 30px;
        height: 3px; 
        background-color: black;
        border-radius: 10px;
    }

    &_sml_div {
        display: flex;
        gap: 5px;
        width: 203px;
        height: 34px;
        background-color: inherit;
    }

    &_sml_div:hover {
        background-color: #000;
        transition: all 1s ease; 
        border-radius: 10px;
    }

    &_sml_div_text {
        font-family: 'Gilroy';
        font-style: normal;
        font-weight: 600;
        font-size: 20px;
        line-height: 100%;
        color: #213887;
        text-align: start;
        padding-top: 5px;
    }

    // &_sml_div_icon {
    //     width: 34px;
    //     height: 34px;
    //     border-radius: 50%;
    //     background: #213887;
    //     color: white;
    // }

    &_sml_div_icon_img {
        width: 25px;
        height: 25px;
        margin-top: 3px;
    }
}