    .services {
        width: 1420px;
        height: 869px;
        margin: auto;
        background-color: #E5E5E5;


    &_big_div {
        width: 1320px;
        height: 850px;
        background-color: #E4E7F1;
        border-radius: 20px;
        margin: auto;
    }

    &_title_text_div {
        display: flex;
    }

    &_title {
        width: 271px;
        height: 70px;
        font-family: 'Gilroy';
        font-style: normal;
        font-weight: 500;
        font-size: 80px;
        line-height: 100%;
        color: #142251;
        padding: 80px 50px;
    }

    &_text {
        width: 340px;
        height: 72px;   
        font-family: 'Gilroy';
        font-style: normal;
        font-weight: 400;
        font-size: 30px;
        line-height: 120%;
        color: #989EB1;
        padding-top: 20px;
        margin: auto;
    }

    &_sml_div {
        width: 170px;
        height: 84px;
        background-color: #fff;
        border-radius: 40px;
        margin: 80px;
        padding: 25px;
        display: flex;
        gap: 40px;
    }

    &_sml_div_left {
        font-size: 40px;
    }

    &_sml_div_right {
        font-size: 40px;
    }

    &_cards {
        display: flex;
        gap: 10px;
    }

    &_card_1 {
        width: 425px;
        height: 517px;
        border-radius: 20px;
        background-color: #FFFFFF;
    }

    &_card_1_div {
        width: 405px;
        height: 224px;
        border-radius: 20px;
        background-color: #F3F6F9;
        margin: auto;
    }

    
    


}