.whoweare {
        width: 1700px;
        height: 880px;
        margin: auto;
        background-color: #E5E5E5;
        padding-top: 50px;

    &_title {
        font-family: 'Gilroy';
        font-style: normal;
        font-weight: 400;
        font-size: 94px;
        line-height: 100%;
        text-align: center;
        color: #142251;
        margin-top: 30px;
    }

    &_text {
        width: 510px;
        height: 82px;  
        font-family: 'Gilroy';
        font-style: normal;
        font-weight: 400;
        font-size: 34px;
        line-height: 120%;
        text-align: center;
        color: #989EB1;
        margin: 20px auto;
    }

    &_cards {
        display: flex;
        gap: 5px;
        margin-top: 200px;
        margin: auto;
        padding-top: 70px;
    }

    &_card_1 {
        width: 454px;
        height: 293px;
        position: relative;
    }

    &_card_1_pins {
        position: absolute;
        left: 150px;
        z-index: 2;
    }

    &_card_1_img {
        width: 454px;
        height: 293px;  
    }

    &_card_1_text {
        width: 300px;
        height: 102px;
        font-family: 'Gilroy';
        font-style: normal;
        font-weight: 400;
        font-size: 34px;
        line-height: 100%;
        color: #142251;
        position: absolute;
        top: 100px;
        left: 50px;
        transform: rotate(-12deg);
    }

    &_card_1_text span {
        color: #989EB1;
    }

    &_card_2 {
        width: 320px;
        height: 380px;
        position: relative;
        top: 0px;
        left: 80px;
    }

    &_card_2_img {
        width: 320px;
        height: 380px;
    }

    &_card_2_text {
        width: 245px;
        height: 102px;
        font-family: 'Gilroy';
        font-style: normal;
        font-weight: 400;
        font-size: 34px;
        line-height: 100%;
        color: #142251;
        position: absolute;
        top: 320px;
        left: -20px;
    }

    &_card_2_text span {
        color: #989EB1;
    }

    &_card_3 {
        width: 384px;
        height: 206px;
        position: relative;
        left: 200px;
    }

    &_card_3_img {
        width: 380px;
        height: 206px;
        position: absolute;
        top: 220px;
        right: 40px;
    }

    &_card_3_text {
        width: 375px;
        height: 102px;
        font-family: 'Gilroy';
        font-style: normal;
        font-weight: 400;
        font-size: 34px;
        line-height: 100%;
        color: #142251;
        margin-bottom: 100px;
    }

    &_card_3_camera {
        width: 76px;
        height: 76px;
        position: absolute;
        top: 210px;
        left: 250px;
    }

    &_card_3_text span {
        color: #989EB1;
    }

    &_card_4 {
        width: 250px;
        height: 205px;
        position: relative;
        top: -30px;
        left: 260px;
    }

    &_card_4_img {
        width: 248px;
        height: 104px;
        margin-top: 120px;
    }

    &_card_4_text {
        width: 235px;
        height: 102px;
        font-family: 'Gilroy';
        font-style: normal;
        font-weight: 400;
        font-size: 34px;
        line-height: 100%;
        color: #142251;
        margin-top: 20px;
    }

    &_card_4_text span {
        color: #989EB1;
    }
  }